* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(181, 226, 241), rgb(181, 193, 207), rgb(181, 226, 241));
}

header {
    height: 70px;
    margin: 0;
    padding: 0;
}


/* NAVBAR STYLING */
.navbar {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 55px;
    padding: 20px;
    background-color: lightslategray;
    box-shadow: 0px 3px 2px rgb(84, 95, 107);
    color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: justify;
    text-shadow: 1px 1px 2px #b1b1b1;
}

/* ----------------------------------------------- */

/* LOGO */
.logo {
    display: flex;
    line-height: 40px;
    font-size: 32px;
    text-shadow: 1px 1px 2px #b1b1b1;
}

.logo a {
    color: #fff;
    line-height: 40px;
    font-size: 40px;
    text-decoration: none;
    padding: 4px 4px;
}

.logo a:hover {
    color: rgb(97, 170, 194);
    text-shadow: 1px 1px 2px rgb(72, 124, 141);
    transition: 0.3s ease;
}

/* ----------------------------------------------- */

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 2px;
    font-size: 18px;
}

.menu li:hover {
    background-color: lightsteelblue;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 4px 14px;
}

/* ----------------------------------------------- */

/* CHECKBOX HAMBURGER */
input[type=checkbox] {
    display: none;
}

/* ----------------------------------------------- */

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    text-shadow: 1px 1px 2px #b1b1b1;
    user-select: none;
}

/* ----------------------------------------------- */

/* MAIN CONTENT */
main {
    flex: 1;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    position: relative;
    justify-content: center;
    justify-items: center;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden; 
    background-color: rgb(97, 170, 194);
    box-shadow: 3px 3px 2px rgb(77, 131, 150);
    padding: 30px;
    border-radius: 10px;
}

.column {
    display: grid;
    grid-template-rows: 1fr;
    gap: 30px;
}

.column img {
    display: block;
    margin:5px;
    padding: 5px;
    border: whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #868484;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.column img:hover {
    transform: scale(1.1); 
    filter: brightness(1.1);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

#overlay img {
    max-width: 100%;
    max-height: 100%;
}


/* SOCIAL BAR */
.social-bar {
    text-align: center;
    color: #fff;
}

.social-bar h4 {
    margin-bottom: -10px;
}

.icons-social {
    margin: 0 4px;
}

/* ----------------------------------------------- */

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    text-align: center;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px -3px 2px rgb(84, 95, 107);
    padding: 10px;
    color: #fff;
}

/* MEDIA QUERIES 1200px*/
@media (max-width: 1200px) {
    .gallery {
        max-width: 80%;
    }
}

/* MEDIA QUERIES 850px*/
@media (max-width: 850px) {

    /* NAVBAR MENU */
    .menu {
        display: none;
        position: absolute;
        background-color: lightslategray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        border-radius: 0px 7px 0px 7px;
        margin-top: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: lightsteelblue;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 10px;
    }

    /* ----------------------------------------------- */

    /* CHECKBOX HAMBURGER */
    input[type=checkbox]:checked~.menu {
        display: block;
        box-shadow: 0px 3px 2px rgb(84, 95, 107);
    }

    /* ----------------------------------------------- */

    /* HAMBURGER MENU */
    .hamburger {
        display: block;
    }

    .gallery {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .column {
        height: auto;
        width:50%; 
    }
}

@media (max-width: 760px) {
    .article-art {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 20px;
    }

    .article-content {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: auto;
        height: auto;
        padding: 25px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .art-img {
        min-height: 100px;
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {

    /* NAVBAR MENU */
    .menu {
        display: none;
        position: absolute;
        background-color: lightslategray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        margin-top: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: lightsteelblue;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 10px;
    }

    /* ----------------------------------------------- */

    /* CHECKBOX HAMBURGER */
    input[type=checkbox]:checked~.menu {
        display: block;
        box-shadow: 0px 3px 2px rgb(84, 95, 107);
    }

    /* ----------------------------------------------- */

    /* HAMBURGER MENU */
    .hamburger {
        display: block;
    }

    /* ----------------------------------------------- */

}