* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(181, 226, 241), rgb(181, 193, 207), rgb(181, 226, 241));
}

header {
    height: 70px;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 55px;
    padding: 20px;
    background-color: lightslategray;
    box-shadow: 0px 3px 2px rgb(84, 95, 107);
    color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: justify;
    text-shadow: 1px 1px 2px #b1b1b1;
}

.logo {
    display: flex;
    line-height: 40px;
    font-size: 32px;
    text-shadow: 1px 1px 2px #b1b1b1;
}

.logo a {
    color: #fff;
    line-height: 40px;
    font-size: 40px;
    text-decoration: none;
    padding: 4px 4px;
}

.logo a:hover {
    color: rgb(97, 170, 194);
    text-shadow: 1px 1px 2px rgb(72, 124, 141);
    transition: 0.3s ease;
}

.menu {
    display: flex;
    gap: 2px;
    font-size: 18px;
}

.menu li:hover {
    background-color: lightsteelblue;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 4px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    text-shadow: 1px 1px 2px #b1b1b1;
    user-select: none;
}

main {
    flex: 1;
}

.slideshow-images {
    display: block;
    height: auto;
    margin-bottom: 30px;
    padding-top: 10px;
}

.slide-container {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border: 8px solid #ffffff;
    border-radius: 8px;
    box-shadow: 5px 15px 20px rgba(28, 90, 131, 0.267);
}

.wrapper {
    max-width: 3100px;
    display: flex;
    animation: slide 24s infinite;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }

    12.5%, 25% {
        transform: translateX(-100%);
    }

    37.5%, 50% {
        transform: translateX(-200%);
    }

    62.5%, 75% {
        transform: translateX(-300%);
    }
}

.wrapper img {
    width: 100%;
    height: auto;
}

.article-link-title {
    font-size: xx-large;
    text-shadow: 1px 1px 2px #b1b1b1;
    padding-bottom: 10px;
}

.article-link-container {
    color: #fff;
    position: relative;
    background-color: rgb(97, 170, 194);
    box-shadow: 0px 3px 2px rgb(77, 131, 150);
    border-radius: 10px;
    height: auto;
    padding: 10px 10px 10px 10px;

}

.article-link-art {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
}

.overlay-link {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(119,136,153,0.8);
    opacity: 0;
    animation: fadeInOverlay 0.5s ease-in-out;
}

.article-link-content:hover .overlay-link {
    display: block;
    opacity: 1;
}

.art-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes fadeInOverlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.article-link-content {
    background-color: rgb(72, 124, 141);
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 25px;
    gap: 10px;
    margin-bottom: 20px;
}

.art-link-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
}

.art-link-text p{
    font-size: 16px;
}
.art-link-text {
    font-size: 18px;
}

.art-link-img {
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
}

.social-bar {
    text-align: center;
    color: #fff;
}

.social-bar h4 {
    margin-bottom: -10px;
}

.icons-social {
    margin: 0 4px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    text-align: center;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px -3px 2px rgb(84, 95, 107);
    padding: 10px;
    color: #fff;
}

@media (max-width: 1200px) {

    .article-link-art {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;
    }

}

@media (max-width: 850px) {

    .menu {
        display: none;
        position: absolute;
        background-color: lightslategray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        border-radius: 0px 0px 7px 7px;
        margin-top: 5px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: lightsteelblue;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 10px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
        box-shadow: 0px 3px 2px rgb(84, 95, 107);
    }

    .hamburger {
        display: block;
    }

    .article-link-art {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 10px;
    }

    .art-link-img {
        max-width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .art-link-item {
        gap: 5px;
    }
}

@media (max-width: 450px) {

    .menu {
        display: none;
        position: absolute;
        background-color: lightslategray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        margin-top: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: lightsteelblue;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 10px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
        box-shadow: 0px 3px 2px rgb(84, 95, 107);
    }

    .hamburger {
        display: block;
    }

    .article-link-art {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 20px;
    }

    .article-link-content {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: auto;
        height: auto;
        padding: 25px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .art-link-img {
        max-width: 70%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
