/*
Style ogólne

Style dotyczą wszystkich arkuszy stylu, które zostały zastosowane w projekcie

Styleguide: 1

*/

/*
Ustawienia globalne dla wszystkich elementów na stronie `*` .

Zastosowano resetowanie stylów, eliminując domyślne marginesy i paddingi, oraz określono pudełko jako border-box.

Markup:
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Styleguide: 1.1
*/

/*
Ustawienia dla całego dokumentu HTML `body`.

Określono podstawowe style dla elementu body, w tym font, gradient tła oraz układ flex dla struktury strony.

Markup:
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(181, 226, 241), rgb(181, 193, 207), rgb(181, 226, 241));
}

Styleguide: 1.2
*/

/*
Ustawnienia nagłówka `header`

Zdefiniowano stylizację nagłówka, określając wysokość.

Markup:
header {
    height: 70px;
    margin: 0;
    padding: 0;
}

Styleguide: 1.3
*/

/* 
Elementy dla wszystkich stron

Elementy, które powtarzają się we wszystkich plikach html i css.

Styleguide: 2
*/

/* 
Navigation Bar

## Panel nawigacyjny dla wszystkich stron.
**Kod HTML**
- `<nav class="navbar" id="topnav">` - Zawiera logo strony oraz wszystkie łącza nawigacyjne.
- `<div class="logo">` - Kontener przechowujący logo.
- `<ul class="nav-links">` - Lista nieuporządkowana z łączami nawigacji.
- `<label for="checkbox_toggle" class="hamburger">` - Chcekbox odpowiedzialny za rozwijanie menu (hamburger menu).
- `<nav class="menu">` - Kontener zawierający łącza nawigacyjne.
- `<li><a href="\">` - Łącznik nawigacyjny do danej podstrony (przykład).

**Kod CSS**
- `.navbar` - Ustawienia kontenera elastycznego, wyśrodkowanie go w pionie oraz przyczepienie go na stałe do góry. Nadaje również kolor oraz cień całego menu.
- `.nav-links` - Ustawienie stylu listy.
- `.nav-links a` - Ustawienie koloru, dekoracji oraz rozmiaru teksu dla łącz nawigacji.
- `.logo` oraz `.logo a` - Ustawienia sposobu wyświetlania, wysokości, koloru oraz cienia adla loga.
- `.logo a:hover` - Animacja zmiany koloru po najechaniu na logo.
- `.menu`, `.menu li`, `.menu li;hover` - Nadanie łączom koloru, rozmiaru oraz animacji po najechaniu.
- `input[type=checkbox]` - Ustawienie checkboxa hamburgera na niewidoczny.
- `.hamburger` - Określenie wyświetlania hamburgera, wielkości i cienia.

Styleguide: 2.1
*/

/*
Navigation Bar Example

Markup: 
        <header>
        <!-- NAVBAR -->
        <nav class="navbar" id="topnav">
            <!-- LOGO -->
            <div class="logo">
                <a href="index.html"><img src="images/icons/paw-print.png" alt="paw-print" width="32" height="32">Cats
                    Blog</a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- CHECKBOX HAMBURGER -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- LINKS MENU -->
                <nav class="menu">
                    <li><a href="index.html"><img src="images/icons/home.png" alt="home" width="20" height="20">
                            Home</a></li>
                    <li><a href="article.html"><img src="images/icons/article.png" alt="about" width="20" height="20">
                            Article</a>
                    </li>
                    <li><a href="gallery.html"><img src="images/icons/gallery.png" alt="gallery" width="20" height="20">
                            Gallery</a></li>
                    <li><a href="contact.html"><img src="images/icons/contact-mail.png" alt="contact-mail" width="20" height="20">
                            Contact</a></li>
                    <li><a href="FAQ.html"><img src="images/icons/faq.png" alt="faq" width="20" height="20"> FAQ</a></li>
                    <nav>
            </ul>
        </nav>
    </header>

Styleguide: 2.2
 */

 /* 
Footer

Stopka dla wszystkich stron.
**Kod HTML**
- `<footer>` - Stopka stro.
- `<section class="social-bar">` - Sekcja przechowująca icony do social mediów.
- `<a href="" class="icons-social">` - Linki z zdjęciami social mediów.

**Kod CSS**
- `footer` - Ustawienie pozycji, koloru, szerokości oraz wyśrodkowanie zawartośći.
- `.social-bar`, `.social-bar h4`, `.icons-social` - Nadanie koloru teksu, ustawienie marginesów.

Styleguide: 2.3
*/

/* 
Footer Example

Markup:
    <footer>
        <section class="social-bar">
            <h4>Follow us on various social media:</h4>
            <br>
            <div>
                <a href="" class="icons-social"><img src="images/social-media/facebook.png" alt="facebook"
                        width="40px"></a>
                <a href="" class="icons-social"><img src="images/social-media/instagram.png" alt="instagram"
                        width="40px"></a>
                <a href="" class="icons-social"><img src="images/social-media/twitter.png" alt="twitter"
                        width="40px"></a>
                <a href="" class="icons-social"><img src="images/social-media/tik-tok.png" alt="tik-tok"
                        width="40px"></a>
            </div>
        </section>
        <p>© 2023 Cats Blog.&nbsp;All rights reserved.</p>
    </footer>

Styleguide: 2.4
*/

/* 
Strona główna

Strona główna zawiera w sobie takie elementy takie jak: "Slider" oraz "Article Link Container".

Styleguide: 3
*/

/* 
Slider

Automatyczna karuzela zdjęć

**Kod HTML**
- `<section class="slideshow-images">` - Sekcja dla slidera.
- `<div class="slide-container">` - Kontener dla slidera.
- `<div class="wrapper">` - Kotener zdjęć.

**Kod CSS**
- `.slideshow-images` - Ustawienie wyświetalnia, wysokości i marginesów.
- `.slide-container` - Ustawienie szerokości przestrzeni gdzie są wyświetlane zdjęcia, ustawienei pozycji, obramowania.
- `.wrapper` - Ustawienie wyświetlanie zdjęć.
- `.wrapper img` - Ustawienia rozmiarów zdjęć.
- `@keyframes slide` - Animacja przejść zdjęć.

Styleguide: 3.1
*/

/* 
Slider Example

Markup:
    <section class="slideshow-images">
        <div class="slide-container">
            <!-- SLIDES WRAPPER -->
            <div class="wrapper">
                <img src="images/slider/cat1.jpg" alt="cat1">
                <img src="images/slider/cat2.jpg" alt="cat2">
                <img src="images/slider/cat3.jpg" alt="cat3">
                <img src="images/slider/cat4.jpg" alt="cat4">
            </div>
        </div>
    </section>

Styleguide: 3.2
 */

/* 
Article Link Container

Zawiera skróty artykułów, które są linkami do ich pełnych wersji.

**Kod HTML**
- `<section class="article-link-container">` - Sekcja dla artykułów.
- `<h2 class="article-link-title">` - Tytuł sekcji.
- `<article class="article-link-art">` - Kotener artykułów.
- `<div class="article-link-content" id="art1">` - Pierwszy artykuł.
- `<div class="art-link-item">` - Kontener na tekst zawarty w artykule.
- `<div class="overlay-link">` - Konteren przesłaniający artykuł po najechaniu i wyświetlający link do pełnego artykułu. 

**Kod CSS**
- `.article-link-title` - Ustawienie tytułu dla sekcji.
- `.article-link-container` - Ustawienie pozycji, kolorów i wysokości dla sekcji artykułów.
- `.article-link-art` - Ustawienie wyświetlanie i pozycji dla artykułów.
- `.overlay-link` - Ustawienia kontenera przesłaniającego artykuł po najechaniu.
- `.art-link` - Style do linku.
- `.art-link-item`, `.art-link-text p`, `.art-link-text`, `.art-link-img` - Ustawienia całej zawartości artykułu.

Styleguide 3.3
*/

/* 
Article Link Container Example

Markup:
        <!-- ARTICLE CONTENT -->
        <section class="article-link-container">
            <!-- ARTICLES TITLE -->
            <h2 class="article-link-title">Cats are CUTE</h2>
            <!-- ARTICLE BOX -->
            <article class="article-link-art">
                <!-- ARTICLE CONTENT 1 -->
                <div class="article-link-content" id="art1">
                    <img src="images/article/cat_art1.jpg" alt="car article 1" class="art-link-item art-link-img"
                        style="width:100%;">
                    <div class="art-link-item">
                        <h3 class="art-link-text">"The Mysterious Psychology of Cats: Understanding Your Furry Friend"</h3>
                        <p class="art-link-text">
                            This article focuses on a deeper understanding of cat behavior,
                            revealing their instincts, needs, and communication with humans.
                        </p>
                    </div>
                    <div class="overlay-link">
                        <a href="article.html#art1" class="art-link">Click here to see more</a>
                    </div>
                </div>
            </article>
        </section>

Styleguide 3.4        
*/

/* 
Media Query

Sekcja w CSS zawierająca odpowiednie instrukcje dla danej szerokości ekranu urządzenia użytkownika.

**Max-wisth 1200px**
- Ustawienie układu artykułów w dwie kolumny.

**Max-width 850px**
- Zwinięcie menu w "hamburger menu".
- Ustawienie układu artykułów w jedną kolumne.
- Zmniejszenie rozmiaru zdjęć w artykułach.

**Max-wisth 450px**
- Zwinięcie menu w "hamburger menu".
- Ustawienie układu artykułów w jedną kolumne.
- Ustawienie układu artykułu w kolumne, gdzie zdjęcie ustawione jest na górze a treść artykułu u spodu.

Styleguide 3.5
*/

/* 
Article.html

Strona zawierająca artykuły.

Styleguide 4
*/

/*  
Article Container

Sekcja zawierająca wszystkie artykuły z pełną treścią.

**Kod HTML**
- `<section class="article-container">` - Sekcja dla artykułów.
- `<article class="article-art">` - Kotener artykułów.
- `<div class="article-content" id="art1">` - Pierwszy artykuł.
- `<div class="art-item art-words">` - Kontener zwierający teść w artykule.

**Kod CSS**
- `.article-container` - Ustawienie pozycji, kolorów i wysokości dla sekcji artykułów.
- `.article-container::-webkit-scrollbar`, `.article-container::-webkit-scrollbar-thumb`, `.article-container::-webkit-scrollbar-track` - Ustawienia suwaka dla sekcji z artykułami.
- `.article-content` - Ustawienie wyświetlanie i pozycji dla artykułów.
- `.art-item`, `.art-text`, `.art-words`, `.art-img` - - Ustawienia całej zawartości artykułu wraz z animacjami.

Styleguide 4.1
*/

/* 
Article Container Example

Markup:
        <section class="article-container">
            <!-- ARTICLE BOX -->
            <article class="article-art">
                <!-- ARTICLE CONTENT 1 -->
                <div class="article-content" id="art1">
                    <img src="images/article/cat_art1.jpg" alt="car article 1" class="art-item art-img" id="img1">
                    <div class="art-item art-words">
                        <h3 class="art-text">"The Mysterious Psychology of Cats: Understanding Your Furry Friend"</h3>
                        <p class="art-text">
                            This article could focus on various aspects of cat psychology,
                            covering topics related to their instincts, behaviors, and communication.
                            It can delve into scientific research on cat cognition and how
                            owners can better understand their feline companions
                            for a healthy and happy coexistence.
                        </p>
                    </div>
                </div>
                <!-- ARTICLE CONTENT 2 -->
                <div class="article-content" id="art2">
                    <img src="images/article/cat_art2.jpg" alt="car article 2" class="art-item art-img" id="img2">
                    <div class="art-item art-words">
                        <h3 class="art-text">"Best Toys for Cats: How to Keep Your Feline Friend Happy"</h3>
                        <p class="art-text">
                            This article can include a review of various
                            types of toys available in the market, as well as
                            simple instructions for creating DIY toys.
                            Discuss why play is essential for a cat's health,
                            how it can aid in weight management, and contribute to
                            fostering a stronger bond between the cat and the owner.
                        </p>
                    </div>
                </div>
                <!-- ARTICLE CONTENT 3 -->
                <div class="article-content" id="art3">
                    <img src="images/article/cat_art3.jpg" alt="car article 3" class="art-item art-img" id="img3">
                    <div class="art-item art-words">
                        <h3 class="art-text">"Cats Around the World: Differences in Breeds and Habits"</h3>
                        <p class="art-text">
                            Present the differences in cat breeds from various regions of the world.
                            Compare their appearance, temperament, and specific characteristics.
                            Discuss how history and environment influence the evolution of
                            different breeds and how owners should tailor their care to the
                            specific needs of each breed.
                        </p>
                    </div>
                </div>
            </article>
        </section>

Styleguide 4.2
*/

/* 
Media Query

Sekcja w CSS zawierająca odpowiednie instrukcje dla danej szerokości ekranu urządzenia użytkownika.

**Max-wisth 1200px**
- Usunięcie suwaka i swobone przeglądanie artykułów.

**Max-width 850px**
- Zwinięcie menu w "hamburger menu".

**Max-wisth 760px**
- Zwinięcie menu w "hamburger menu".
- Ustawienie układu artykułu w kolumne, gdzie zdjęcie ustawione jest na górze a treść artykułu u spodu.

**Max-wisth 450px**
- Zwinięcie menu w "hamburger menu".
- Ustawienie układu artykułu w kolumne, gdzie zdjęcie ustawione jest na górze a treść artykułu u spodu.


Styleguide 4.3
*/

/* 
Gallery.html

Strona zawierająca zdjęcia i wyświetlająca je w postaci galerii.

Styleguide 5
*/

/* 
Gallery Container

**Kod HTML**
- `<section class="gallery">` - Sekcja dla galeri zdjęć.
- `<div class="column" id="column1">` - Kotener dla pierwszej kolumny zdjęć.

**Kod CSS**
- `.gallery` - Ustawienie pozycji, kolorów i wysokości dla sekcji gallery.
- `.column` - Ustawienia kolumn zdjęć.
- `.column img` - Ustawienie wyświetlanie i pozycji dla zdjęć.
- `#overlay`, 1#overlay img` - Ustawienie wyświetlania poglądu zdjęcia po jego naciśnięciu.

**Kod JS**
- `function showImage(img)` - Wyświetlenie zdjęcia na podglądzie.
- `function hideImage()` - Schowanie zdjęcia na podglądzie.

Styleguide 5.1
*/

/* 
Gallery Conainer Example 

Markup:
    <section class="gallery">
            <!-- GALLERY COLUMN 1 -->
            <div class="column" id="column1">
                <img src="images/article/cat_art1.jpg" alt="gallery cat 1" onclick="showImage(this)">
                <img src="images/article/cat_art5.jpg" alt="gallery cat 2" onclick="showImage(this)">
                <img src="images/slider/cat1.jpg" alt="gallery cat 3" onclick="showImage(this)">
            </div>
            <!-- GALLERY COLUMN 2 -->
            <div class="column" id="column2">
                <img src="images/article/cat_art3.jpg" alt="gallery cat 4" onclick="showImage(this)">
                <img src="images/slider/cat3.jpg" alt="gallery cat 5" onclick="showImage(this)">
                <img src="images/article/cat_art2.jpg" alt="gallery cat 6" onclick="showImage(this)">
            </div>
            <!-- GALLERY COLUMN 3 -->
            <div class="column" id="column3">
                <img src="images/slider/cat2.jpg" alt="gallery cat 7" onclick="showImage(this)">
                <img src="images/article/cat_art6.jpg" alt="gallery cat 8" onclick="showImage(this)">
                <img src="images/article/cat_art4.jpg" alt="gallery cat 9" onclick="showImage(this)">
            </div>
        </section>
    <div id="overlay" onclick="hideImage()">
            <img id="overlayImage" src="images/article/cat_art1.jpg" alt="Pełny obraz">
    </div>  

Styleguide 5.2
*/

/* 
Gallery Conainer Script

Markup:

    <script>
        function showImage(img) {
            var overlay = document.getElementById('overlay');
            var overlayImage = document.getElementById('overlayImage');

            overlayImage.src = img.src;
            overlay.style.display = 'flex';
        }
        function hideImage() {
            var overlay = document.getElementById('overlay');
            overlay.style.display = 'none';
        }
    </script>

Styleguide 5.3
*/

/* 
Media Query

Sekcja w CSS zawierająca odpowiednie instrukcje dla danej szerokości ekranu urządzenia użytkownika.

**Max-wisth 1200px**
- Zmiejsza rozmiar galerii.

**Max-width 850px**
- Zwinięcie menu w "hamburger menu".
- Zmienia ustawienie galerii na jednokolumowe.

**Max-wisth 450px**
- Zwinięcie menu w "hamburger menu".

Styleguide 5.4
*/

/* 
Contact.html

Strona zawierająca formularz kontaktowy.

Styleguide 6
*/

/* 
Contact Container

**Kod HTML**
- `<form id="myForm">` - Sekcja dla formularz kontaktowe.
- `<input />` - Pobiera dane od użytkownika.
- `<button>` - Przycisk do wysłania formularza.
       
**Kod CSS**
- `form` - Ustawienie pozycji, kolorów i wysokości dla formularza.
- `label, input, textarea, select` - Ustawienia pozycji, zrozmiaru dla opcji formularza.
- `.radio-options, .message1, .message2` - Ustawienie wyświetlania dla podopcji formularza.
- `button` - Zdefiniowanie wyglądu przycisku.

**Kod JS**
- `function showOptions()` - Wyświetlenie podopcji formularza.
- `function validateForm()` - Walidacja formularza.

Styleguide 6.1
*/

/* 
Contact Container Example

Markup:
    <form id="myForm">
            <label for="name">Name:</label>
            <input type="text" name="name" pattern="[a-zA-Z0-9]{3,}" placeholder="Your name" required>
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Your e-mail" required>
            <label for="options">You are contacting us regarding ...</label>
            <select id="options" name="options" onchange="showOptions()">
                <option value="0" disabled selected>--Select option--</option>
                <option value="1">I want to post a new article/photo</option>
                <option value="2">There is an error on the website</option>
                <option value="3">I want to ask something</option>
            </select>
            <!-- Option 1 -->
            <div class="radio-options" id="radioOptions">
                <label for="radio1">Article</label>
                <input type="radio" id="radio1" name="radioOption">
                <label for="radio2">Photo</label>
                <input type="radio" id="radio2" name="radioOption">
            </div>
            <!-- Option 2 -->
            <div class="message1" id="message1">
                <label for="textareaOption2">Describe the problem that occurred on the website</label>
                <textarea id="textareaOption2" name="textareaOption2" rows="4" cols="50"></textarea>
            </div>
            <!-- Option 3 -->
            <div class="message2" id="message2">
                <label for="textareaOption3">What do you want to ask?</label>
                <textarea id="textareaOption3" name="textareaOption3" rows="4" cols="50"></textarea>
            </div>
            <button type="button" onclick="validateForm()">Submit</button>
        </form>

Styleguide 6.2
*/

/* 
Contact Container Script 

Markup:

    <script>
        function showOptions() {
            var selectedOption = document.getElementById("options").value;
            var radioOptions = document.getElementById("radioOptions");
            var message1 = document.getElementById("message1");
            var message2 = document.getElementById("message2");

            radioOptions.style.display = "none";
            message1.style.display = "none";
            message2.style.display = "none";

            if (selectedOption === "1") {
                radioOptions.style.display = "flex";
            } else if (selectedOption === "2") {
                message1.style.display = "block";
            } else if (selectedOption === "3") {
                message2.style.display = "block";
            }
        }

        function validateForm() {
            var form = document.getElementById("myForm");

            if (form.checkValidity()) {
                alert("Thank you for completing the form! We will contact you soon.");
                form.reset();
            } else {
                alert("Please correct the errors in the form.");
            }
        }
    </script>

Styleguide 6.3
*/

/* 
Media Query

Sekcja w CSS zawierająca odpowiednie instrukcje dla danej szerokości ekranu urządzenia użytkownika.

**Max-width 850px**
- Zwinięcie menu w "hamburger menu".

**Max-wisth 450px**
- Zwinięcie menu w "hamburger menu".

Styleguide 6.4
*/

/* 
FAQ.html

Strona zawierająca najczęstsze zadawane pytania i odpowiedzi na nie.

Styleguide 7
*/

/* 
FAQ Container 

**Kod HTML**
- `<section class="faq">` - Sekcja dla pytań i odpowiedzi.
- `<h2 class="faq-logo">` - Tytuł sekcj.
- `<details class="faq-item">` - Pytania i odpowiedzi w sekcji.
- `<summary>` - Pytanie w sekcji.
` `<p>` - Odpowiedz.
       
**Kod CSS**
- `.faq-logo` - Ustawienie rozmiaru i koloru loga.
- `.faq` - Ustawienia pozycji, zrozmiaru, koloru dla opcji sekcji faq.
- `.faq-item, summary, details` - Ustawienie wyświetlania, rozmiaru i kolor dla pytań i odpowiedzi.

**Kod JS**
- `var faqItems`, `var summary`, `var paragraph` - Zmienne.
- `summary.addEventListener` - Zdarzenie, gdzie po kliknięciu `summary` wyśiwetla odpowiedz.

Styleguide 7.1
*/

/* 
FAQ Container Example

Markup:
             <!-- FAQ -->
                <section class="faq">
                        <h2 class="faq-logo">Frequently asked questions</h2>
                        <br>
                        <!-- FAQ 1 -->
                        <details class="faq-item">
                                <summary>What to feed a cat?</summary>
                                <p>It's advisable to feed a cat high-quality cat food available in both dry and wet
                                        forms. Foods containing essential nutrients such as protein, fats, vitamins, and
                                        minerals are crucial for a cat's health. Always adjust the amount of food based
                                        on the cat's age, weight, and activity level.</p>
                        </details>
                         <!-- FAQ 2 -->
                        <details class="faq-item">
                                <summary>What are a cat's essential needs?</summary>
                                <p>Cats have basic needs such as a healthy diet, clean water, shelter, play, a place to
                                        sleep, and veterinary care. It's also important to provide access to a
                                        scratching post.</p>
                        </details>
                         <!-- FAQ 3 -->
                        <details class="faq-item">
                                <summary>How to take care of a cat's health?</summary>
                                <p>Regular vet visits, vaccinations, prevention against fleas and ticks, and weight
                                        control are key elements in caring for a cat's health.</p>
                        </details>
                         <!-- FAQ 4 -->
                        <details class="faq-item">
                                <summary>How to litter train a cat?</summary>
                                <p>Placing the litter box in a quiet location, regular cleaning, and providing one
                                        litter box per cat in the household are basic principles of litter training.
                                        Avoid changing the litter box location unless necessary.</p>
                        </details>
                         <!-- FAQ 5 -->
                        <details class="faq-item">
                                <summary>Do cats need toys?</summary>
                                <p>Yes, toys are important for a cat's mental and physical health. Toys help maintain
                                        activity levels, develop hunting skills, and alleviate stress.</p>
                        </details>
                         <!-- FAQ 6 -->
                        <details class="faq-item">
                                <summary>How to raise a kitten?</summary>
                                <p>Understanding the stages of a kitten's development, providing appropriate toys, and
                                        early socialization are key to raising a kitten. Consistent and positive
                                        training is crucial in the upbringing process.</p>
                        </details>
                </section>

Styleguide 7.2
*/

/* 
FAQ Container Script

Markup:

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var faqItems = document.querySelectorAll('.faq-item');
            
                    faqItems.forEach(function (item) {
                        var summary = item.querySelector('summary');
                        var paragraph = item.querySelector('p');
            
                        summary.addEventListener('click', function () {
                            if (item.open) {
                                paragraph.style.maxHeight = '0';
                            } else {
                                paragraph.style.maxHeight = paragraph.scrollHeight + 'px';
                            }
                        });
                    });
                });
            </script>

Styleguide 7.3
*/

/* 
Media Query

Sekcja w CSS zawierająca odpowiednie instrukcje dla danej szerokości ekranu urządzenia użytkownika.

**Max-width 850px**
- Zwinięcie menu w "hamburger menu".

**Max-wisth 450px**
- Zwinięcie menu w "hamburger menu".

Styleguide 7.4
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(181, 226, 241), rgb(181, 193, 207), rgb(181, 226, 241));
}

header {
    height: 70px;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 55px;
    padding: 20px;
    background-color: lightslategray;
    box-shadow: 0px 3px 2px rgb(84, 95, 107);
    color: #fff;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.nav-links {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-align: justify;
    text-shadow: 1px 1px 2px #b1b1b1;
}

.logo {
    display: flex;
    line-height: 40px;
    font-size: 32px;
    text-shadow: 1px 1px 2px #b1b1b1;
}

.logo a {
    color: #fff;
    line-height: 40px;
    font-size: 40px;
    text-decoration: none;
    padding: 4px 4px;
}

.logo a:hover {
    color: rgb(97, 170, 194);
    text-shadow: 1px 1px 2px rgb(72, 124, 141);
    transition: 0.3s ease;
}

.menu {
    display: flex;
    gap: 2px;
    font-size: 18px;
}

.menu li:hover {
    background-color: lightsteelblue;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 4px 14px;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    text-shadow: 1px 1px 2px #b1b1b1;
    user-select: none;
}

main {
    flex: 1;
}

.slideshow-images {
    display: block;
    height: auto;
    margin-bottom: 30px;
    padding-top: 10px;
}

.slide-container {
    width: 80vmin;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border: 8px solid #ffffff;
    border-radius: 8px;
    box-shadow: 5px 15px 20px rgba(28, 90, 131, 0.267);
    padding: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    animation: slide 12s infinite;
    margin: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.wrapper img {
    width: 100%;
    height: auto;
}

.article-link-title {
    font-size: xx-large;
    text-shadow: 1px 1px 2px #b1b1b1;
    padding-bottom: 10px;
}

.article-link-container {
    color: #fff;
    position: relative;
    background-color: rgb(97, 170, 194);
    box-shadow: 0px 3px 2px rgb(77, 131, 150);
    border-radius: 10px;
    height: auto;
    padding: 10px 10px 10px 10px;

}

.article-link-art {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
}

.overlay-link {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(119,136,153,0.8);
    opacity: 0;
    animation: fadeInOverlay 0.5s ease-in-out;
}

.article-link-content:hover .overlay-link {
    display: block;
    opacity: 1;
}

.art-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes fadeInOverlay {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.article-link-content {
    background-color: rgb(72, 124, 141);
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 25px;
    gap: 10px;
    margin-bottom: 20px;
}

.art-link-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
}

.art-link-text p{
    font-size: 16px;
}
.art-link-text {
    font-size: 18px;
}

.art-link-img {
    min-height: 100px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
}

.article-container {
    color: #fff;
    background-color: rgb(97, 170, 194);
    box-shadow: 5px 5px 8px rgb(77, 131, 150);
    padding: 10px;
    position: relative;
    justify-content: center;
    justify-items: center;
    height: 70vh;
    border-radius: 10px;
    max-width: 70%;
    margin: 0 auto;
    overflow-y: auto;
}

.article-container::-webkit-scrollbar {
    width: 8px;
}

.article-container::-webkit-scrollbar-thumb {
    background-color: lightslategray;
    border-radius: 10px;
}

.article-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(81, 92, 104);
}

.article-container::-webkit-scrollbar-track {
    background-color: rgb(220, 228, 231);
    border-radius: 10px;
}

.article-art {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    gap: 20px;
}

.article-content {
    background-color: rgb(72, 124, 141);
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: relative;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    width: auto;
    height: auto;
    padding: 25px;
    gap: 10px;
    margin-bottom: 20px;
}

.art-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    gap: 10px;
    order: 1;
    justify-content: center;
    justify-items: center;
}

.art-text p {
    font-size: 14px;
}

.art-text {
    font-size: 16px;
}

.art-words {
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
    padding: 10px;
    width: 90%;
    padding-left: 20px;
}

.art-words:hover {
    transform: scale(1.1);
}

.art-img {
    min-height: 100px;
    width: 80%;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
    transition: transform 0.3s ease-in-out;
    transform: scale(1);
}

.art-img:hover {
    transform: scale(1.1);
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    position: relative;
    justify-content: center;
    justify-items: center;
    max-width: 60%;
    margin: 0 auto;
    overflow: hidden; 
    background-color: rgb(97, 170, 194);
    box-shadow: 3px 3px 2px rgb(77, 131, 150);
    padding: 30px;
    border-radius: 10px;
}

.column {
    display: grid;
    grid-template-rows: 1fr;
    gap: 30px;
}

.column img {
    display: block;
    margin:5px;
    padding: 5px;
    border: whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #868484;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.column img:hover {
    transform: scale(1.1); 
    filter: brightness(1.1);
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

#overlay img {
    max-width: 100%;
    max-height: 100%;
}

form {
    max-width: 700px;
    width: 100%;
    padding: 20px;
    color: #fff;
    background-color:  rgb(97, 170, 194);
    box-shadow: 5px 5px 8px rgb(77, 131, 150);
    border-radius: 10px;
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.radio-options, .message1, .message2 {
    display: none;
    margin-top: 10px;
}

.radio-options label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-options input {
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 10px;

}

.message1 label, .message2 label {
    display: block;
    margin-bottom: 5px;
}

button {
    background-color: #4caf50;
    border-radius: 10px;
    box-shadow: 3px 3px 2px #2b642d;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

.faq-logo {
    font-size: 25px;
    text-shadow: 1px 1px 2px #b1b1b1;
}

.faq {
    width: 100%;
    min-height: 55vh;
    padding: 20px;
    color: #fff;
    background-color:  rgb(97, 170, 194);
    box-shadow: 5px 5px 8px rgb(77, 131, 150);
    border-radius: 10px;
    margin: 50px auto;
}

.faq-item {
    width: 80%;
    margin: 0 auto ;
    margin-bottom: .5rem;
    background-color: lightslategray;
    box-shadow: 3px 3px 2px rgb(84, 95, 107);
    border-radius: 5px;
    overflow: hidden;
  }
  
  summary {
    padding: 1rem;
    display: block;
    background-color: rgb(72, 124, 141);
    box-shadow: 3px 3px 2px rgb(48, 82, 94);
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
  }
  
  summary:before {
    content: '';
    border-width: .4rem;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    top: 1.3rem;
    left: 1rem;
    transform: rotate(0);
    transform-origin: .2rem 50%;
    transition: .25s transform ease;
  }
  
  details[open] > summary:before {
    transform: rotate(90deg);
  }
  
  
  details summary::-webkit-details-marker {
    display:none;
  }
  
  details > p {
    padding: 8px;
    margin-bottom: 5px;
  }

.social-bar {
    text-align: center;
    color: #fff;
}

.social-bar h4 {
    margin-bottom: -10px;
}

.icons-social {
    margin: 0 4px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: lightslategray;
    text-align: center;
    border-radius: 7px 7px 0 0;
    box-shadow: 0px -3px 2px rgb(84, 95, 107);
    padding: 10px;
    color: #fff;
}

@media (max-width: 1200px) {

    .article-link-art {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 20px;
    }

    .article-container {
        color: #fff;
        position: relative;
        height: auto;
        max-width: 80%;
        margin: 0 auto;
    }

    .art-img {
        width: 100%;
    }
}

@media (max-width: 850px) {

    .menu {
        display: none;
        position: absolute;
        background-color: lightslategray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        border-radius: 0px 0px 7px 7px;
        margin-top: 5px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: lightsteelblue;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 10px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
        box-shadow: 0px 3px 2px rgb(84, 95, 107);
    }

    .hamburger {
        display: block;
    }

    .article-link-art {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 10px;
    }

    .art-link-img {
        max-width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .art-link-item {
        gap: 5px;
    }

    .article-container {
        color: #fff;
        position: relative;
        height: auto;
        max-width: 90%;
        margin: 0 auto;
    }

    .gallery {
        grid-template-columns: 1fr;
        padding-bottom: 20px;
    }

    .column {
        height: auto;
        width:50%; 
    }
}

@media (max-width: 760px) {
    .article-art {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 20px;
    }

    .article-content {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: auto;
        height: auto;
        padding: 25px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .art-img {
        min-height: 100px;
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width: 450px) {

    .menu {
        display: none;
        position: absolute;
        background-color: lightslategray;
        right: 0;
        left: 0;
        text-align: center;
        padding: 5px 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        margin-top: 10px;
    }

    .menu li:hover {
        display: inline-block;
        background-color: lightsteelblue;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 10px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
        box-shadow: 0px 3px 2px rgb(84, 95, 107);
    }

    .hamburger {
        display: block;
    }

    .article-link-art {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        gap: 20px;
    }

    .article-link-content {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        width: auto;
        height: auto;
        padding: 25px;
        gap: 10px;
        margin-bottom: 20px;
    }

    .art-link-img {
        max-width: 70%;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
